In [34]:
import pandas as pd

In [2]:
json = open()
print(json.read())

[{"Tipo":"Quitinete","Bairro":"Copacabana","Quartos":1,"Vagas":0,"Suites":0,"Area":40,"Valor":1700.0,"Condominio":500.0,"IPTU":60.0},
{"Tipo":"Casa","Bairro":"Jardim Bot\u00e2nico","Quartos":2,"Vagas":0,"Suites":1,"Area":100,"Valor":7000.0,"Condominio":null,"IPTU":null},
{"Tipo":"Conjunto Comercial\/Sala","Bairro":"Barra da Tijuca","Quartos":0,"Vagas":4,"Suites":0,"Area":150,"Valor":5200.0,"Condominio":4020.0,"IPTU":1111.0},
{"Tipo":"Apartamento","Bairro":"Centro","Quartos":1,"Vagas":0,"Suites":0,"Area":15,"Valor":800.0,"Condominio":390.0,"IPTU":20.0},
{"Tipo":"Apartamento","Bairro":"Higien\u00f3polis","Quartos":1,"Vagas":0,"Suites":0,"Area":48,"Valor":800.0,"Condominio":230.0,"IPTU":null},
{"Tipo":"Apartamento","Bairro":"Vista Alegre","Quartos":3,"Vagas":1,"Suites":0,"Area":70,"Valor":1200.0,"Condominio":null,"IPTU":null},
{"Tipo":"Apartamento","Bairro":"Cachambi","Quartos":2,"Vagas":0,"Suites":0,"Area":50,"Valor":1300.0,"Condominio":301.0,"IPTU":17.0},
{"Tipo":"Casa de Condom\u00ednio","Bairro":"Barra da Tijuca","Quartos":5,"Vagas":4,"Suites":5,"Area":750,"Valor":22000.0,"Condominio":null,"IPTU":null},
{"Tipo":"Casa de Condom\u00ednio","Bairro":"Ramos","Quartos":2,"Vagas":2,"Suites":0,"Area":65,"Valor":1000.0,"Condominio":null,"IPTU":null},
{"Tipo":"Conjunto Comercial\/Sala","Bairro":"Centro","Quartos":0,"Vagas":3,"Suites":0,"Area":695,"Valor":35000.0,"Condominio":19193.0,"IPTU":3030.0}]

# Importando json para pandas

In [6]:
df_json = pd.read_json('dados/aluguel.json')
df_json

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000,19193.0,3030.0

In [8]:
txt = open('dados/aluguel.txt')
print(txt.read())

Tipo	Bairro	Quartos	Vagas	Suites	Area	Valor	Condominio	IPTU
Quitinete	Copacabana	1	0	0	40	1700	500	60
Casa	Jardim Botânico	2	0	1	100	7000
Conjunto Comercial/Sala	Barra da Tijuca	0	4	0	150	5200	4020	1111
Apartamento	Centro	1	0	0	15	800	390	20
Apartamento	Higienópolis	1	0	0	48	800	230
Apartamento	Vista Alegre	3	1	0	70	1200
Apartamento	Cachambi	2	0	0	50	1300	301	17
Casa de Condomínio	Barra da Tijuca	5	4	5	750	22000
Casa de Condomínio	Ramos	2	2	0	65	1000
Conjunto Comercial/Sala	Centro	0	3	0	695	35000	19193	3030

# Importando txt para pandas

In [10]:
df_txt = pd.read_table('dados/aluguel.txt')
df_txt

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000,19193.0,3030.0

# Importando xlsx para pandas

In [13]:
df_xlsx = pd.read_excel('dados/aluguel.xlsx')
df_xlsx

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000,19193.0,3030.0

In [36]:
df_html = pd.read_html('dados/dados_html_1.html')
df_html[0]

  FAIXA ETÁRIA UNAFISCO SAÚDE SOFT II SOFT PARTICIPATIVO      UNIQUE
0      00 A 18               R$218,99           R$192,60    R$334,48
1      19 A 23               R$263,63           R$207,67    R$380,06
2      24 A 28               R$322,44           R$224,26    R$464,39
3      29 A 33               R$402,05           R$258,63    R$566,68
4      34 A 38               R$455,17           R$306,37    R$664,61
5      39 A 43               R$489,29           R$417,93    R$742,72
6      44 A 48               R$582,65           R$495,24    R$869,47
7      49 A 53               R$718,86           R$562,64  R$1.046,29
8      54 A 58               R$908,54           R$721,00  R$1.355,74
9   59 OU MAIS             R$1.244,50         R$1.151,62  R$2.003,53

In [37]:
df_html = pd.read_html('dados/dados_html_2.html')
df_html[0]

                  Date      Reserve balances required  \
                  Date Reserve balance requirements 1
0              Month 7                        Month 7
1            Apr. 2017                         113224
2             May 2017                         115464
3            June 2017                         118187
4            July 2017                         120636
5            Aug. 2017                         120091
6           Sept. 2017                         122109
7            Oct. 2017                         116873
8            Nov. 2017                         123141
9            Dec. 2017                         123720
10           Jan. 2018                         126792
11           Feb. 2018                         124006
12           Mar. 2018                         120285
13           Apr. 2018                         126415
14                 NaN                            NaN
15  Two weeks ending 8             Two weeks ending 8
16       Mar. 14, 2018                         118515
17       Mar. 28, 2018                         121797
18       Apr. 11, 2018                         121488
19       Apr. 25, 2018                         128536
20         May 9, 2018                         131316

                                                               \
   Top of penalty- free band 2 Bottom of penalty- free band 3
0                      Month 7                        Month 7
1                       124561                         101890
2                       127023                         103906
3                       130018                         106357
4                       132712                         108561
5                       132113                         108071
6                       134332                         109887
7                       128574                         105176
8                       135467                         110816
9                       136103                         111337
10                      139484                         114101
11                      136420                         111594
12                      132326                         108245
13                      139070                         113762
14                         NaN                            NaN
15          Two weeks ending 8             Two weeks ending 8
16                      130379                         106652
17                      133989                         109606
18                      133650                         109327
19                      141404                         115671
20                      144460                         118174

   Reserve balances maintained 4  \
                           Total
0                        Month 7
1                        2281420
2                        2225769
3                        2206547
4                        2233323
5                        2344015
6                        2295735
7                        2245701
8                        2314455
9                        2244274
10                       2214601
11                       2238775
12                       2167009
13                       2086192
14                           NaN
15            Two weeks ending 8
16                       2228423
17                       2118454
18                       2107005
19                       2096990
20                       2010167

                                                                  \
   Balances maintained to satisfy reserve balance requirements 5
0                                             Month 7
1                                              124219
2                                              126547
3                                              129695
4                                              132296
5                                              131641
6                                              133950
7                                              128204
8                                              134981
9                                              135719
10                                             138807
11                                             135786
12                                             131778
13                                             138481
14                                                NaN
15                                 Two weeks ending 8
16                                             129881
17                                             133368
18                                             133207
19                                             140741
20                                             143758


   Balances maintained that exceed the top of the penalty- free band 6
0                                             Month 7
1                                             2157202
2                                             2099222
3                                             2076852
4                                             2101027
5                                             2212375
6                                             2161785
7                                             2117497
8                                             2179474
9                                             2108555
10                                            2075794
11                                            2102989
12                                            2035232
13                                            1947710
14                                                NaN
15                                 Two weeks ending 8
16                                            2098542
17                                            1985086
18                                            1973798
19                                            1956249
20                                            1866409

In [38]:
df_html = pd.read_html('https://pt.wikipedia.org/wiki/Campeonato_Brasiliense_de_Futebol')

In [39]:
len(df_html)

19

In [49]:
df_html[5:]

[   Edição   Ano                                            Campeão  \
 0   1ª[6]  1959  Grêmio Esportivo Brasiliense (Núcleo Bandeiran...
 1     2.ª  1960                               Defelê (Brasília)(1)
 2     3.ª  1961                               Defelê (Brasília)(2)
 3     4.ª  1962                               Defelê (Brasília)(3)
 4     5.ª  1963                      Cruzeiro do Sul (Cruzeiro)(1)
 5     6.ª  1964  Guanabara A (Brasília) (1) Rabello P (Brasília...
 6     7.ª  1965  Pederneiras A (Brasília) (1) Rabello P (Brasíl...
 7     8.ª  1966  Guanabara A (Brasília) (2) Rabello P (Brasília...
 8     9.ª  1967                              Rabello (Brasília)(4)
 9    10.ª  1968                               Defelê (Brasília)(4)
 10   11.ª  1969                                   Coenge (Gama)(1)
 11   12.ª  1970  Grêmio Esportivo Brasiliense (Núcleo Bandeiran...
 12   13.ª  1971                    Colombo (Núcleo Bandeirante)(1)
 13   14.ª  1972                      Serviço Gráfico (Brasília)(1)
 14   15.ª  1973                                 CEUB (Brasília)(1)
 15   16.ª  1974                           Pioneira (Taguatinga)(1)
 16   17.ª  1975                           Campineira (Brasília)(1)

                                          Vice-campeão  \
 0                                     Planalto (Gama)
 1                        Guará (Guará)Planalto (Gama)
 2                                  Rabello (Brasília)
 3                        Colombo (Núcleo Bandeirante)
 4                                  Rabello (Brasília)
 5                  Dínamo (Brasília)Defelê (Brasília)
 6   Guanabara (Brasília) Colombo (Núcleo Bandeirante)
 7   Vila Matias (Taguatinga) Luziânia (Luziânia (GO))
 8                          Cruzeiro do Sul (Cruzeiro)
 9                                  Rabello (Brasília)
 10  Grêmio Esportivo Brasiliense (Núcleo Bandeirante)
 11                                Civilsan (Brasília)
 12                         Serviço Gráfico (Brasília)
 13                                    CEUB (Brasília)
 14                     Relações Exteriores (Brasília)
 15                        Jaguar (Núcleo Bandeirante)
 16                                     CSU (Brasília)

                                     Terceiro colocado  \
 0                          Guará (Guará)EBE(Brasília)
 1   Grêmio Esportivo Brasiliense (Núcleo Bandeiran...
 2                                       Guará (Guará)
 3                                  Rabello (Brasília)
 4                                 Nacional (Brasília)
 5     Nacional (Brasília)Colombo (Núcleo Bandeirante)
 6   Grêmio Esportivo Brasiliense (Núcleo Bandeiran...
 7   Grêmio Esportivo Brasiliense (Núcleo Bandeiran...
 8                                   Defelê (Brasília)
 9                                       Guará (Guará)
 10                                     Mariana (Gama)
 11                         Serviço Gráfico (Brasília)
 12                                    CEUB (Brasília)
 13                       Colombo (Núcleo Bandeirante)
 14                              Atlético (Brazlândia)
 15                                    CEUB (Brasília)
 16                     Relações Exteriores (Brasília)

                                      Quarto colocado
 0                                    IPASE(Brasília)
 1                                 Alvorada(Brasília)
 2                                    Planalto (Gama)
 3                                      Guará (Guará)
 4                                  Defelê (Brasília)
 5   Cruzeiro do Sul (Cruzeiro)Luziânia EC (Luziânia)
 6                                                  —
 7                                  Defelê (Brasília)
 8                       Colombo (Núcleo Bandeirante)
 9                                                  —
 10                                                 —
 11                                   Planalto (Gama)
 12                                                 —
 13                                 Piloto (Brasília)
 14                 Unidos de Sobradinho (Sobradinho)
 15                                   Humaitá (Guará)
 16                            Canarinho (Taguatinga)  ,
    Edição   Ano                       Campeão  \
 0     1.ª  1976        Brasília (Brasília)(1)
 1     2.ª  1977        Brasília (Brasília)(2)
 2     3.ª  1978        Brasília (Brasília)(3)
 3     4.ª  1979                Gama (Gama)(1)
 4     5.ª  1980        Brasília (Brasília)(4)
 5     6.ª  1981    Taguatinga (Taguatinga)(1)
 6     7.ª  1982        Brasília (Brasília)(5)
 7     8.ª  1983        Brasília (Brasília)(6)
 8     9.ª  1984        Brasília (Brasília)(7)
 9    10.ª  1985    Sobradinho (Sobradinho)(1)
 10   11.ª  1986    Sobradinho (Sobradinho)(2)
 11   12.ª  1987        Brasília (Brasília)(8)
 12   13.ª  1988     Tiradentes (Ceilândia)(1)
 13   14.ª  1989    Taguatinga (Taguatinga)(2)
 14   15.ª  1990                Gama (Gama)(2)
 15   16.ª  1991    Taguatinga (Taguatinga)(3)
 16   17.ª  1992    Taguatinga (Taguatinga)(4)
 17   18.ª  1993    Taguatinga (Taguatinga)(5)
 18   19.ª  1994                Gama (Gama)(3)
 19   20.ª  1995                Gama (Gama)(4)
 20   21.ª  1996              Guará (Guará)(1)
 21   22.ª  1997                Gama (Gama)(5)
 22   23.ª  1998                Gama (Gama)(6)
 23   24.ª  1999                Gama (Gama)(7)
 24   25.ª  2000                Gama (Gama)(8)
 25   26.ª  2001                Gama (Gama)(9)
 26   27.ª  2002             CFZ (Brasília)(1)
 27   28.ª  2003               Gama (Gama)(10)
 28   29.ª  2004   Brasiliense (Taguatinga)(1)
 29   30.ª  2005   Brasiliense (Taguatinga)(2)
 30   31.ª  2006   Brasiliense (Taguatinga)(3)
 31   32.ª  2007   Brasiliense (Taguatinga)(4)
 32   33.ª  2008   Brasiliense (Taguatinga)(5)
 33   34.ª  2009   Brasiliense (Taguatinga)(6)
 34   35.ª  2010      Ceilândia (Ceilândia)(1)
 35   36.ª  2011   Brasiliense (Taguatinga)(7)
 36   37.ª  2012      Ceilândia (Ceilândia)(2)
 37   38.ª  2013   Brasiliense (Taguatinga)(8)
 38   39.ª  2014    Luziânia (Luziânia (GO)(1)
 39   40.ª  2015               Gama (Gama)(11)
 40   41.ª  2016    Luziânia (Luziânia (GO)(2)
 41   42.ª  2017   Brasiliense (Taguatinga)(9)
 42   43.ª  2018    Sobradinho (Sobradinho)(3)
 43   44.ª  2019               Gama (Gama)(12)
 44   45.ª  2020               Gama (Gama)(13)
 45   46.ª  2021  Brasiliense (Taguatinga)(10)
 46   47.ª  2022  Brasiliense (Taguatinga)(11)

                          Vice-campeão  \
 0                       Guará (Guará)
 1    Bandeirante (Núcleo Bandeirante)
 2             Taguatinga (Taguatinga)
 3                 Brasília (Brasília)
 4                         Gama (Gama)
 5                       Guará (Guará)
 6                       Guará (Guará)
 7                       Guará (Guará)
 8             Sobradinho (Sobradinho)
 9             Taguatinga (Taguatinga)
 10            Taguatinga (Taguatinga)
 11            Taguatinga (Taguatinga)
 12                      Guará (Guará)
 13            Sobradinho (Sobradinho)
 14            Taguatinga (Taguatinga)
 15                      Guará (Guará)
 16             Tiradentes (Ceilândia)
 17                        Gama (Gama)
 18            Sobradinho (Sobradinho)
 19                Brasília (Brasília)
 20                        Gama (Gama)
 21                Brasília (Brasília)
 22                      Guará (Guará)
 23  Dom Pedro II (Núcleo Bandeirante)
 24   Bandeirante (Núcleo Bandeirante)
 25           Brasiliense (Taguatinga)
 26                        Gama (Gama)
 27           Brasiliense (Taguatinga)
 28                     CFZ (Brasília)
 29              Ceilândia (Ceilândia)
 30                        Gama (Gama)
 31            Esportivo Guará (Guará)
 32  Dom Pedro II (Núcleo Bandeirante)
 33                Brasília (Brasília)
 34           Brasiliense (Taguatinga)
 35                        Gama (Gama)
 36           Luziânia (Luziânia (GO))
 37                Brasília (Brasília)
 38                Brasília (Brasília)
 39                Brasília (Brasília)
 40              Ceilândia (Ceilândia)
 41              Ceilândia (Ceilândia)
 42           Brasiliense (Taguatinga)
 43           Brasiliense (Taguatinga)
 44           Brasiliense (Taguatinga)
 45              Ceilândia (Ceilândia)
 46              Ceilândia (Ceilândia)

                                     Terceiro colocado  \
 0   Grêmio Esportivo Brasiliense (Núcleo Bandeirante)
 1                             Taguatinga (Taguatinga)
 2                                       Guará (Guará)
 3                                       Guará (Guará)
 4                                       Guará (Guará)
 5                                 Brasília (Brasília)
 6                              Tiradentes (Ceilândia)
 7                             Taguatinga (Taguatinga)
 8                             Taguatinga (Taguatinga)
 9                                 Brasília (Brasília)
 10                                Brasília (Brasília)
 11                                      Guará (Guará)
 12                            Taguatinga (Taguatinga)
 13                              Ceilândia (Ceilândia)
 14                                      Guará (Guará)
 15                                                  —
 16                                Brasília (Brasília)
 17                                      Guará (Guará)
 18                                Brasília (Brasília)
 19                                      Guará (Guará)
 20                            Sobradinho (Sobradinho)
 21                            Sobradinho (Sobradinho)
 22                            Taguatinga (Taguatinga)
 23                           Luziânia (Luziânia (GO))
 24                                Brasília (Brasília)
 25                            Brazlândia (Brazlândia)
 26                           Brasiliense (Taguatinga)
 27                                     CFZ (Brasília)
 28                                        Gama (Gama)
 29                                  Paranoá (Paranoá)
 30                           Luziânia (Luziânia (GO))
 31                              Ceilândia (Ceilândia)
 32                              Ceilândia (Ceilândia)
 33                                        Gama (Gama)
 34                                Botafogo-DF (Guará)
 35                             Formosa (Formosa (GO))
 36                            Sobradinho (Sobradinho)
 37                              Ceilândia (Ceilândia)
 38                           Brasiliense (Taguatinga)
 39                           Brasiliense (Taguatinga)
 40                           Brasiliense (Taguatinga)
 41                            Sobradinho (Sobradinho)
 42                              Ceilândia (Ceilândia)
 43                           Paracatu (Paracatu (MG))
 44                           Real Brasília (Brasília)
 45                                        Gama (Gama)
 46                                  Capital (Paranoá)

                       Quarto colocado
 0                                   —
 1              Canarinho (Taguatinga)
 2                                   —
 3                                   —
 4             Sobradinho (Sobradinho)
 5                                   —
 6                                   —
 7                                   —
 8                       Guará (Guará)
 9                                   —
 10                                  —
 11                                  —
 12                                  —
 13                                  —
 14                                  —
 15                                  —
 16                                  —
 17                                  —
 18              Samambaia (Samambaia)
 19            Planaltina (Planaltina)
 20           Luziânia (Luziânia (GO))
 21            Planaltina (Planaltina)
 22            Ceilandense (Ceilândia)
 23                      Guará (Guará)
 24  Dom Pedro II (Núcleo Bandeirante)
 25   Bandeirante (Núcleo Bandeirante)
 26   Bandeirante (Núcleo Bandeirante)
 27           Luziânia (Luziânia (GO))
 28              Ceilândia (Ceilândia)
 29                        Gama (Gama)
 30              Ceilândia (Ceilândia)
 31                        Gama (Gama)
 32                        Gama (Gama)
 33  Dom Pedro II (Núcleo Bandeirante)
 34            Ceilandense (Ceilândia)
 35                Botafogo-DF (Guará)
 36           Brasiliense (Taguatinga)
 37                        Gama (Gama)
 38            Sobradinho (Sobradinho)
 39           Luziânia (Luziânia (GO))
 40                        Gama (Gama)
 41           Paracatu (Paracatu (MG))
 42           Luziânia (Luziânia (GO))
 43           Real Brasília (Brasília)
 44             Formosa (Formosa (GO))
 45           Luziânia (Luziânia (GO))
 46                        Gama (Gama)  ,
                                                 Clube  Campeão  \
 0                                         Gama (Gama)       13
 1                            Brasiliense (Taguatinga)       11
 2                                 Brasília (Brasília)        8
 3                             Taguatinga (Taguatinga)        5
 4                                  Rabello (Brasília)        4
 5                                   Defelê (Brasília)        4
 6                             Sobradinho (Sobradinho)        3
 7                               Ceilândia (Ceilândia)        2
 8                            Luziânia (Luziânia (GO))        2
 9   Grêmio Esportivo Brasiliense (Núcleo Bandeirante)        2
 10                               Guanabara (Brasília)        2
 11                                      Guará (Guará)        1
 12                       Colombo (Núcleo Bandeirante)        1
 13                         Cruzeiro do Sul (Cruzeiro)        1
 14                         Serviço Gráfico (Brasília)        1
 15                                    CEUB (Brasília)        1
 16                             Tiradentes (Ceilândia)        1
 17                             Pederneiras (Brasília)        1
 18                                      Coenge (Gama)        1
 19                              Pioneira (Taguatinga)        1
 20                              Campineira (Brasília)        1
 21                         CFZ de Brasília (Brasília)        1
 22                                    Planalto (Gama)        0
 23           Atlético Taguatinga[nota 1] (Taguatinga)        0
 24                 Real Brasília (Núcleo Bandeirante)        0
 25                                  Dínamo (Brasília)        0
 26                           Vila Matias (Taguatinga)        0
 27                                Civilsan (Brasília)        0
 28                     Relações Exteriores (Brasília)        0
 29                        Jaguar (Núcleo Bandeirante)        0
 30                                     CSU (Brasília)        0
 31                Botafogo-DF[nota 2] (Novo Gama (GO)        0

                                      Anos dos Títulos  Vice  \
 0   1979, 1990, 1994, 1995, 1997, 1998, 1999, 2000...     7
 1   2004, 2005, 2006, 2007, 2008, 2009, 2011, 2013...     6
 2      1976, 1977, 1978, 1980, 1982, 1983, 1984, 1987     7
 3                        1981, 1989, 1991, 1992, 1993     5
 4                              1964, 1965, 1966, 1967     3
 5                              1960, 1961, 1962, 1968     1
 6                                    1985, 1986, 2018     3
 7                                          2010, 2012     5
 8                                          2014, 2016     2
 9                                          1959, 1970     1
 10                                         1964, 1966     1
 11                                               1996     8
 12                                               1971     2
 13                                               1963     1
 14                                               1972     1
 15                                               1973     1
 16                                               1988     1
 17                                               1965     0
 18                                               1969     0
 19                                               1974     0
 20                                               1975     0
 21                                               2002     0
 22                                                NaN     2
 23                                                NaN     2
 24                                                NaN     2
 25                                                NaN     1
 26                                                NaN     1
 27                                                NaN     1
 28                                                NaN     1
 29                                                NaN     1
 30                                                NaN     1
 31                                                NaN     1

                                     Anos dos Vices
 0         1980, 1993, 1996, 2002, 2004, 2006, 2011
 1               2001, 2003, 2010, 2018, 2019, 2020
 2         1979, 1995, 1997, 2009, 2013, 2014, 2015
 3                     1978, 1985, 1986, 1987, 1990
 4                                 1961, 1963, 1968
 5                                             1964
 6                                 1984, 1989, 1994
 7                     2005, 2016, 2017, 2021, 2022
 8                                       1966, 2012
 9                                             1969
 10                                            1965
 11  1960, 1976, 1981, 1982, 1983, 1988, 1991, 1998
 12                                      1962, 1965
 13                                            1967
 14                                            1971
 15                                            1972
 16                                            1992
 17                                             NaN
 18                                             NaN
 19                                             NaN
 20                                             NaN
 21                                             NaN
 22                                      1959, 1960
 23                                      1977, 2000
 24                                      1999, 2008
 25                                            1964
 26                                            1966
 27                                            1970
 28                                            1973
 29                                            1974
 30                                            1975
 31                                            2007  ,
            Localidade  Campeão Vice
 0            Brasília       23   18
 1          Taguatinga       17   13
 2                Gama       14    9
 3  Núcleo Bandeirante        3   8*
 4           Ceilândia        3    6
 5          Sobradinho        3    3
 6       Luziânia (GO)        2    2
 7               Guará        1   9*
 8            Cruzeiro        1    1,
    Artilheiros do Campeonato Brasiliense de Futebol                    \
                                                 Ano        Artilheiro
 0                                              1970           Arnaldo
 1                                              1971                 —
 2                                              1972                 —
 3                                              1973          Humberto
 4                                              1974            Nemias
 5                                              1975             Lucas
 6                                              1976           Rogério
 7                                              1977           Julinho
 8                                              1978             Edmar
 9                                              1979          Péricles
 10                                             1980           Fantato

In [54]:


# Nesta aula, sobre pandas, aprendemos:

#     Como importar a biblioteca (import pandas as pd)
#     Como ler fontes de dados diferentes:
#         Uma base CSV (pd.read_csv(...))
#         Uma base JSON (pd.read_json(...))
#         Uma base TXT (pd.read_table(...))
#         Um arquivo EXCEL (pd.read_excel(...))
#         Uma página HTML (pd.read_html(...))
#     Vários métodos e atributos úteis de dataframes, como:
#         info()
#         head()
#         dtypes
#         columns
#         shape

# E sobre Jupyter, vimos como:

#     Criar diferentes tipos de células dentro do Jupyter
#     Acessar a documentação
#     Como reexecutar todas as células